{% load static %}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-4">
    <div class="row">
        <div class="col-md-6 text-center text-md-left">
            <h5 class="text-white mb-3">Contact Us</h5>
            <p class="mb-1"><i class="fa fa-map-marker-alt mr-2"></i>Dhaka, Bangladesh</p>
            <p class="mb-1"><i class="fa fa-phone-alt mr-2"></i>+880160106200</p>
            <p><i class="fa fa-envelope mr-2"></i>pack&go11gmail.com</p>
        </div>
        <div class="col-md-6 text-center text-md-left">
            <h5 class="text-white mb-3">About Us</h5>
            <p>We are a travel company dedicated to creating unforgettable experiences for our clients. Discover new destinations with us!</p>
        </div>
    </div>
    <div class="text-center mt-3">
        <p class="mb-0 text-white-50">&copy; 2024 Pack & Go. All Rights Reserved.</p>
    </div>
</div>
<!-- Footer End -->
